* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: Georgia, "Lucida Handwriting", cursive;
    color: rgb(5, 66, 25);
    background-color:rgb(204, 204, 204);
    text-align: center;
}

img {
    height: 500px;
    width: auto;
}

.recipes-list {
    background-color: rgb(214, 255, 228);
}

.description {
    background-color:rgb(214, 255, 228);
    color:rgb(2, 0, 34);
}